*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color: #ffffff;
}
.dark-color{
    color: #ec7f37 ;
}
body{
    background: #393939;
    color:#ffffff;
    scroll-behavior: smooth;
    overflow-x: hidden;
  } 

.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.l{
    /* font-size: 25px; */
    /* color: #ec7f37; */
    /* text-decoration:none; */
    /* font-weight: 600; */
    width: 100px;
    height: 80px;
    cursor: pointer;
    display: flex;
    
}
.active>img{
  width: 120px;
  height:80px;
}
.navbar>a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: 0.5s;
    
}
.navbar>a:hover,.navbar>a.active{
    color: #ec7f37 !important ;
}
.Home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:space-evenly;
    align-items:center; 
    padding: 70px 100px 0;
    
}

.home-content{
    max-width: 600px;
}
.home-content>h3{
    font-size:32px;
    font-weight:700px;
}
.home-content>h3>span{
color: #ec7f37 ;
}
.home-content>h1{
    font-size: 56px;
    font-weight:500px;
    margin: -3px 0px;
}
.home-image{
    width: 250px;
    height: 300px;
    /* background; */
    /* max-width: 450px; */
}
.image{
    background: #ec7f37;
    width: 230px;
    height: 160px;
    position: relative;
    bottom: -90px;
    border-radius: 10% 0 10% 0;
}
.image:hover{
    border-radius: 0 10% 0 10% ;
}
.image>img{
    width: 200px;
    height: 250px;
    position: absolute; 
    right: 15px;
    bottom: 11px;
    border-radius: 10% 0 10% 0;
}
.image:hover>img{
    border-radius: 0 10% 0 10%;
    border: 1px solid #ec7f37;
}
.social-media>a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid;
    border-radius: 50%;
    font-size: 20px;
    color:#ec7f37 ;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 30px 15px 30px 0px;
    transition: 0.5s ease;
}

.social-media>a:hover{
    background:#ec7f37 ;
    color:#ffffff;
    box-shadow: 0 0 30px #ec7f37 ;

}
.about{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns:40% 35%;
    justify-content: space-around;
    align-items: center;
   
    font-family: 'Open Sans', sans-serif;
    
}

.pera{
    background-color: #ec7f37;
    border-radius: 20px 0 20px 0;
    margin: 0 0 0 10%;
    line-height: 45px;
}
.pera>h3{
   padding:10px ;
   
}
 .pera>h3>i{ 
    font-family: 'Open Sans', sans-serif;
    padding: 10px;

    
 }
.about-me{
    
    padding: 0 10px 0 0;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    align-items: center;

}
.skills{
    display: grid;
    grid-template-columns: 60% 50%;
    grid-template-rows: auto;
    padding: 13%;
    
}
.skill-pat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 50px;
}
.skill-data{
    margin: 95px 25px 0px 75px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
}
.left{
    background-color: #ec7f37;
    border: 25px solid #ec7f37;
    border-radius: 20px 0px 20px 0px;
    margin: 20px;
    width: 25%;
    height: 22%;
    text-align: center;

}
.left>p{
    text-align: center;
}

.resume{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns:35% 40%;
    justify-content: space-around;
    align-items: center;
    margin: 20px 50px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    
}
.des{
    background-color: #ec7f37;
    border-radius: 20px 0 20px 0;
    width: 90%;
    line-height: 26px;
    
}
.des>h3{
   padding:10px ;
   
}
 .des>h3>i{ 
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    
 }
 .resume>.objective{
   margin-left: 60px;


}
/* .services */
 .services{
    display: grid;
    grid-template-columns: auto  auto;
    grid-template-rows: auto;
    padding: 13%;
    
}
.services1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    
}

.ser{
    background-color: #ec7f37;
    border: 25px solid #ec7f37;
    border-radius: 20px 0px 20px 0px;
    margin: 20px;
    width: 25%;
    

}
.ser>p{
    text-align: center;
    height: 30%;
}
.data{
    margin: 10% 0% 0% 20%;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
}
/* contact form */
form>h1{
  margin-top: -5%;
  padding: 15px;
  display: inline-block;
    background-color: #ec7f37;
      border-radius: 20px 0 20px 0;
      width: 30%;
      height: 80px;
      line-height: 26px; 
      text-align: center;
      
  }
  .container>form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .contact-us{
    margin-bottom: 20px;
  }
  
    
  form>input{
    width: 30%;
    height: 8vh;
    background-color: #393939;
    color: #ededed;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
  }
  form>textarea{
    width: 30%;
    background-color: #393939;
    color: #ededed;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  
  form>textarea{
    background-color:  #393939;
    color:#ededed;
    padding: 2px;
  }
  .btndiv{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 30% */
    max-width: 100%;
  }
  .btn{
    background-color: #ec7f37;
    color:#ffffff;
    padding: 13px 88px;
    margin: 10px 0;
    font-size:16px;
  }
  .btn:hover{
    color:#393939;
  }
  